<style>
    #productTable { width: auto; }
    #productTable td { max-width: 150px; text-overflow: ellipsis;
                       overflow: hidden; white-space: nowrap; }
    #productTable td input { max-width: 125px; }
</style>
<div ng-controller="productCtrl as vm">
    <table id="productTable" class="table table-striped table-bordered">
        <tr>
            <th>Name</th><th>Description</th><th>Category</th><th>Price</th><th></th>
        </tr>
        <tr ng-repeat="item in vm.products" ng-hide="item._id == editedProduct._id">
            <td>{{item.name}}</td>
            <td class="description">{{item.description}}</td>
            <td>{{item.category}}</td>
            <td>{{item.price | currency}}</td>
            <td>
                <button ng-click="vm.startEdit(item)" class="btn btn-xs btn-primary">
                    Edit
                </button>
                <button ng-click="vm.deleteProduct(item)" class="btn btn-xs btn-primary">
                    Delete
                </button>
</td> </tr>
        <tr ng-class="{danger: vm.editedProduct}">
            <td><input ng-model="vm.editedProduct.name" required /></td>
            <td><input ng-model="vm.editedProduct.description" required /></td>
            <td><input ng-model="vm.editedProduct.category" required /></td>
            <td><input ng-model="vm.editedProduct.price" required /></td>
            <td>
                <button ng-hide="vm.editedProduct._id"
                        ng-click="vm.createProduct(vm.editedProduct)"
                        class="btn btn-xs btn-primary">
                    Create
                </button>
                <button ng-show="vm.editedProduct._id"
                        ng-click="vm.updateProduct(vm.editedProduct)"
                        class="btn btn-xs btn-primary">
                    Save
                </button>
                <button ng-show="vm.editedProduct"
                        ng-click="vm.cancelEdit()" class="btn btn-xs btn-primary">
                    Cancel
                </button>
</td> </tr>
    </table>
</div>
